/* Style for game cards */
.game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 100%; /* Ensure all game cards have the same height */
    box-sizing: border-box;
}

/* Style for store cards */
.store-card {
    margin-bottom: 20px;
}

/* Grid layout for the store container */
#storeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.store-card {
    text-align: center;
    margin: 20px;
    color: white
}

.store-banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.store-deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.game-card {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex; /* Make this a flex container */
    flex-direction: column; /* Stack the children vertically */
    justify-content: space-between; /* Distribute space evenly between the children */
}

.game-card p strong{
    color:white
}

.game-thumb {
    width: 120px;
    height: 45px;
    margin-bottom: 10px;
    align-self: center;
}


