
html, body, main {
    height: 100%;
}


.container {
    background-color:rgb(177, 214, 255);
    border-radius: 10px;
    padding: 20px;
    height: auto;
    box-shadow: 0 0 3px 0px;
    width: 100%;
    max-width: 95%;
    
}

#footer {
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 0 1 calc(50% - 20px);
    max-width: 300px; /* Adjust as needed */
    margin: 10px; /* Centers the card if its width is less than its container's width */
}

.card .image {
    width: 100%; /* Makes the image take up the full width of the card */
    height: auto; /* Makes the image's height adjust to maintain its aspect ratio */
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdowns {
    display: flex;
    justify-content: center;
}

/* Styles the dropdowns */
#type-dropdown, #platform-dropdown {
    background-color: #3273dc; /* Same as has-background-link */
    color: white; 
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.25rem; /* Same as is-size-4 */
    cursor: pointer;
}

/* Styles the dropdown options */
#type-dropdown option, #platform-dropdown option {
    background-color: #4a4a4a; /* Same as has-background-grey-darker */
    color: #f5f5f5; /* Same as has-text-grey-lighter */
}

/* Styles the filter button */
#filter-button {
    margin-top: 10px;
}